@{
	ViewBag.Title = "訂單查詢";
	Layout = "_Layout";
}

<main>
	<div class="my-3">
		<h3>訂單查詢</h3>
	</div>

	<div>
		
	</div>

</main>




@section Scripts {
	<script>
		$(document).ready(function() {
			
		});

	</script>
}