<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="Layout" value="${time} | ${level:uppercase=true} |${newline}REQUEST ID:${aspnet-TraceIdentifier} ${newline}發生類別：${logger}${newline}來源：${callsite:className=true}${newline}Log紀錄：${message}${newline}方法追蹤：${stacktrace:format=DetailedFlat:topFrames=2:skipFrames=0:separator=\r\n}${newline}發生例外類別：${exception:format=type}${newline}例外訊息：${exception:format=message}${newline}完整例外內容:${exception:innerformat=ToString:maxInnerExceptionLevel=10:innerExceptionSeparator===>:separator===>:format=ToString} ${newline}"/>
  <variable name="LogTxtLocation" value="c:\Logs\NorthWindTest\log-${shortdate}.log"/>
  <targets>
    <target name="fileBySite"
            xsi:type="AsyncWrapper" queueLimit="50000" overflowAction="Block">
    </target>

    <target name="File"
            xsi:type="File" fileName="${LogTxtLocation}"
            layout="${Layout}" archiveFileName="${basedir}/Logs/archives/log.{#}.txt" archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="14"
            keepFileOpen ="true"
            openFileCacheTimeout ="30"
            concurrentWrites="false"
            autoFlush="false"
            openFileFlushTimeout="1"
            encoding="UTF-8"/>
    <target name="errorFile" xsi:type="AsyncWrapper" queueLimit="50000" overflowAction="Block"></target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace"  writeTo="File" />
  </rules>
</nlog>
